wp-admin/
wp-includes/
wp-content/plugins/advanced-custom-fields/
wp-content/uploads/
wp-content/themes/example/bootstrap/
wp-content/plugins/duplicate-wp-page-post/
wp-content/test.log
wp-content/plugins/wordpress-importer/