#content {
	/*background-color: lightblue;*/
}

.data-container {
	padding: 20px;
}

.link-style {
	font-size: 25px;
	text-decoration: none;
}

.link-style:hover {
	text-decoration: underline;
}

.back-to-events {
	padding-top: 10px;
}

.back-to-events a {
	text-decoration: none;
}

.back-to-events a:hover {
	text-decoration: underline;
}

.alignleft {
	float: left;
	margin-left: 20px;
}

.alignright {
	float: left;
	margin-left: 10px;
}

.alignleft a, .alignright a {
	text-decoration: none;
}

.alignleft a:hover, .alignright a:hover {
	text-decoration: underline;
}

.comments-section {
	margin-top: 40px;
	margin-left: 20px;
}

.comments-section h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.comment-data {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
	padding-left: 10px;
}

.comment-respond {
	margin-left: 20px;
}

.comment-respond label {
	display: flow-root;
}

.pagination {
	margin-top: 30px;
	margin-left: 20px;
}

.move-content {
	margin-top: 20px;
}

.add-border-style {
	border-right: 1px solid rgba(0,0,0,.1);
}

#site-footer a {
	color: white;
}

#footer-hr, .style-hr {
	border: 2px solid rgba(0,0,0,.1);
}

.textwidget {
	text-align: justify;
}

.add-box-style {
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment-reply-link {
	border: 1px solid black;
	padding: 0 10px 3px 10px;
	background-color: deepskyblue;
	color: white;
}

.comment-reply-link:hover {
	color: white;
}