#content {
	/*background-color: lightblue;*/
}

.data-container {
	padding: 20px;
}

.link-style {
	font-size: 25px;
	text-decoration: none;
}

.link-style:hover {
	text-decoration: underline;
}

.back-to-events {
	padding-top: 10px;
}

.back-to-events a {
	text-decoration: none;
}

.back-to-events a:hover {
	text-decoration: underline;
}